services:
  - type: web
    name: polyspack-backend
    env: node
    region: oregon
    plan: free
    buildCommand: cd backend && npm install
    startCommand: node backend/server.js
    envVars:
      - key: NODE_VERSION
        value: 22.16.0
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_APP_PASSWORD
        sync: false
      - key: FRONTEND_URL
        value: https://polyspack-enterprises.vercel.app
