version: '3.8'
services:
  backend:
    build: ./backend
    env_file:
      - ../.env
    ports:
      - '10000:10000'
    depends_on:
      - mongo
  frontend:
    build: ./frontend
    env_file:
      - ../.env
    ports:
      - '3000:3000'
    depends_on:
      - backend
  mongo:
    image: mongo:6
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data:
